body {
    background-color: azure;
    text-align: center;
}

.main__allcards {
    display: flex;
    justify-content: space-between;
    
}


.main__card{
    background-color: aliceblue;
    border: 2px solid #abc;
    
    box-shadow: 15px 15px 4px 2px rgba(0, 0, 255, .1);
    padding-bottom: 10px;
}



img {
    width: 130px;
    height: 150px;
    border: 1px solid;
    margin: auto 20px;
}

button {
    width: 80%;
    height: 30px;
}
button:hover {
    background-color: aqua;
    cursor: pointer;
}